* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

ul {
    list-style: none;
}