/* CSS Main */

/* NAVBAR CSS */
:root {
    --white : #fff;
    --coffee: #ad661f;
    --wheat: wheat;
    --old_brown: rgb(247,234,204);
    --title_color: #555555;
    --text_color: #232323;
    --light-gray: rgb(165, 163, 163);
    --blue: #00a8ff;
    --menu_list_height: 121.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#container {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.menu {
    background-color: var(--coffee);
    max-width: 100%;  
    position: relative;
}

.menu__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu__list--content {
    padding: 45px 30px;
    display: block;
    position: relative;
}
.menu__list--content:nth-of-type(4) {
    padding: 0 30px;
}
.menu__list--content img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

.menu__list--link {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding: 3px 0;
    color: var(--wheat);
}

.sub-menu {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: calc(var(--menu_list_height) + 40px);
    left: 0;
    z-index: 0;
    box-shadow: 3px 3px 8px 8px rgba(112, 104, 104, 0.2);
    transition: 0.3s linear;
    border-radius: 10px;
}

.sub-menu__link{
    display: block;
    padding: 10px;
    width: 200px;
    background-color: var(--old_brown);
    border-bottom: 1px solid var(--light-gray);
}

.sub-menu__link:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu__link:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu__content {
    display: inline-block;
    color: var(--title_color);
    position: relative;
}

.menu__user-link {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--wheat);
    text-align: center;
    line-height: 30px;
    color: var(--coffee);
    transition: border-color 0.15s linear;
}

.appear {
    display: block !important;
}

.menu__user-link .sub-menu {
    opacity: 0;
    left: -67px ;
    top: 40px ;
    transition: 0.25s linear;
    transform: scale(0.1);
    display: none;
}

.menu__user-link .sub-menu__link {
    width: 100px;
    height: 40px;
    padding: 3px 5px;
    font-size: 14px;
}

.menu__user-link .sub-menu__link:first-child {
    position: relative;
}

.menu__user-link .sub-menu__link:first-child::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    top: -10px;
    right: 0;
}

#toast {
    display: flex;
    background-color: var(--white);
    max-width: 330px;
    align-items: center;
    border-left: 10px solid var(--blue);
    padding: 7px;
    position: fixed;
    top: 63.5px;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s linear;
    z-index: 2;
}
.toast__icon {
    padding:  0 20px;
}
.toast__icon i {
    font-size: 20px;
    color: var(--blue);
}

.toast__body {
    padding-right: 110px;
}

.toast__title{
    font-size: 20px;
    margin: 0;
    color: var(--title_color);
}

.toast__msg{
    color: var(--text_color);
}

.toast__close {
    cursor: pointer;
    padding-right: 20px;
}
/* BANNER CSS */
.carousel-item {
    position: relative;
}

.banner__slide button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--wheat);
    top: calc(490px / 2 - 50px / 2);
    opacity: 1;
    transition: 0.25s linear;
}

.banner__slide button i  {
    color: var(--text_color);
}

.banner__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--old_brown);
    opacity: 0.9;
}

.banner__content--info {
    padding: 30px 0;
    text-align: center;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.banner__content--title {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title_color);
}

.banner__content--text {
    color: var(--text_color);
    font-size: 12.5px;
    margin-top: 15px;
}

/* BODY CSS */
.main-content {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
}

.main-content__imgs--story,
.main-content__imgs--bartending,
.main-content__imgs--menu,
.main-content__imgs--news,
.main-content__imgs--recruit {
    position: relative;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    max-width: 100%;
}

.main-content__imgs--story .layout__story {
    position: absolute;
    background-color: var(--old_brown);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    transition: opacity 0.35s linear;
}

.main-content__imgs span { 
    /* css cac thuoc tinh mac dinh cho the span trong class main-content__imgs */
    position: absolute;
    color: var(--title_color);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 25px;
    z-index: 2;
    background-color: var(--old_brown);
    opacity: 0.9;
}

.main-content__imgs--story span {
    transition: 0.37s linear;
    padding: 5px 35px;
    background-color: transparent ;
    top: calc(481px / 2 - 54.5px / 2);
    left: calc(919px / 2 - 257px / 2);
}

.main-content__imgs--group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.main-content__imgs--bartending span,
.main-content__imgs--menu  span{
    transition: transform 0.15s linear;
}
.main-content__imgs--bartending img {
    width: 467px;
    height: 338px;
}

.main-content__imgs--menu img {
    width: 466px;
    height: 311px;
}

.main-content__imgs--bartending span {
    padding: 3px 70px;
    top: calc(338px / 2 - 43.5px / 2);
    left: calc(467px /  2 - 259px / 2);
}
.main-content__imgs--menu span {
    padding: 5px 70px;
    top: calc(311px / 2 - 47.5px / 2);
    left: calc(466px /  2 - 276px / 2);
}

.main-content__imgs--news {
    margin-top: 40px;
}

.main-content__imgs--news span { 
    /* reset css cho the dom nay */
    letter-spacing: normal;
    font-weight: 100;
    font-size: 16px;
    text-transform: none;

    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(960px / 2);
    transition: transform 0.5s ease-out;
}

.main-content__imgs--news img {
    width: 960px;
    height: 340px;
}

.main-content__imgs--news h4 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 90px;
}

.main-content__imgs--news h4::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: var(--text_color);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(calc(480px / 2 - 50%));
}

.main-content__imgs--recruit {
    margin-top: 40px;
}

.main-content__imgs--recruit span { 
    /* reset css cho the dom nay */
    letter-spacing: normal;
    font-weight: 100;
    font-size: 16px;
    text-transform: none;
    text-align: center;
    width: 482px;
    padding: 30px 0;
    top: calc(340px / 2 - 192px / 2);
    left: calc(960px / 2 - 482px / 2 );
    transition: transform 0.15s linear;
}


.main-content__imgs--recruit h4 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 5px;
    margin-bottom: 20px;
}

.main-content__imgs--recruit h4::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: var(--text_color);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(calc(480px / 2 - 50%));
}

.main-content__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: var(--text_color);
}

.main-content__list h5 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--coffee);
}
.main-content__list p {
    color: var(--text_color);
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}

/* FOOTER CSS */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--coffee);
}

.footer__contact {
    padding: 20px 0;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__contact--medias h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer__contact--imgs {
    display: flex;
}

.footer__contact--imgs a:nth-of-type(1) {
    width: 13.24px;
    height: 23px;
    display: block;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(2) {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(3) {
    display: block;
    width: 26px;
    height: 20px;
    margin-top: 2px;
}
.footer__contact--imgs a img {
    width: 100%;
    height: 100%;
}
.footer__contact--medias .footer__contact--moiat {
    width: 190px;
    height: 75px;
    margin-top: 3px;
    display: inline-block;
}

.footer__contact--moiat img{
    width: 100%;
    height: 100%;
}

.footer__contact--update {
    margin-right: 75px;
}

.footer__contact--update h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer__contact--update p {
    font-size: 12px;
}

.footer__contact--update-input-group {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.footer__contact--update input{
    padding: 5.5px 65px 5.5px 15px;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    outline: 0;
}

.footer__contact--update input::placeholder {
    font-size: 14px;
    color: var(--light-gray);
}

.footer__contact--update button {
    width: 100px;
    height: 35px;
    background-color: var(--coffee);
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer__contact--update-slogan {
    color: rgb(165, 163, 163);
    margin-top: 5px;
}

.footer__addr {
    width: 100%;
    max-width: 100%;
    background-color: var(--coffee);
}

.footer__addr--text {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer__addr p {
    font-size: 11px;
    color: var(--white);
    line-height: 20px;
}

.footer__addr b {
    text-transform: uppercase;
}


/* ---- Animation write here ---- */

/* CSS Animation Underline Menu*/
.menu__list--link::before { 
    /* tao persuodo class */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.02px;
    background-color: var(--white);
    transition: 0.25s linear;
    display: block;
}
.menu__list--content span:hover .menu__list--link::before {
    width: 100%;
}

.menu__list--content span:hover .menu__list--link {
    color: var(--white);
}

/* Animation User Icon */
.menu__user-link:hover {
    border-color: #00a8ff;
}
.menu__user-link:hover i{
    color: var(--coffee);
}

/* Sub Menu Animation */
/* tao persuodo class */
.sub-menu__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--coffee);
    transition: width 0.25s linear;
}
.sub-menu__link:hover .sub-menu__content {
    color: var(--coffee);
}
.sub-menu__link:hover .sub-menu__content::before {
    width: 100%;
}

.menu__list--content:hover .sub-menu {
    transform: translateY(calc((var(--menu_list_height) - 56.5px) * -1));
    opacity: 1;
    z-index: 1;
}
.menu__user-link:hover .sub-menu,
.menu__user-link .sub-menu__content:first-child::before {
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}

/* First Pic Animation of main-content*/
.main-content__imgs--story:hover .layout__story {
    opacity: 0;
}

.main-content__imgs--story:hover span{
    background-color: var(--old_brown);
    opacity: 0.9;
}

/* Second & Third Pics Animation of main-content*/
.main-content__imgs--bartending span:hover,
.main-content__imgs--menu span:hover {
    transform: translateY(-4px);
}

/* Fouth Pic Animation of main-content*/
.main-content__imgs--news:hover span {
    transform: translateX(100%);
}

/* Fifth Pic Animation of main-content*/
.main-content__imgs--recruit span:hover {
    transform: translateY(-4px);
}

/* Banner hover Animation */
.banner__slide button:hover {
    background-color: var(--coffee);
}

.banner__slide button:hover i{
    color: var(--white);
}

/* KEYFRAMES */
@keyframes HDtoBlur {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes blurToHD {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}