
body { 
    background: url(../images/cf2.jpg);
    background-size: cover;
    background-position-y: -70px;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    max-width: 400px;
    background-color: black;
    opacity: 80%;
    flex-grow: 1;
    box-shadow: 0 0 15px 3px white;
    padding: 40px 30px;
}  

#login-form .form-heading {
    color: #f5f5f5;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
}

.form-group {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 7px;
    transition: 0.25 linear;
}

#login-form i {
    color: #f5f5f5;
    padding-right: 10px;
    font-size: 14.5px;
}

#login-form .form-group .form-input {
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    flex-grow: 1;
    font-size: 15px;
}

.form-group .form-input::placeholder {
    color: #f5f5f5b4;
}

.form-submit {
    background: transparent;
    color: white;
    border: 1px solid #f5f5f5;
    width: 100%;
    padding: 8px 0;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 650;
    text-transform: uppercase;
    transition: 0.22s linear;
    border-radius: 5.5px;
    cursor: pointer;
}

.form-submit:hover{
    border: 1px solid #0064fa;
}

#login-form .form-group .view-pass i {
    padding-right: 5px;
    cursor: pointer;
}

#login-form .rd-to-register {
    text-align: center;
    color: #f5f5f5;
    padding-top: 30px;
    font-size: 18px;
}

#login-form .rd-to-register a {
    text-decoration: 0;
    color: #F79F1F;
}

.form-group.warning {
    border-color: red ; 
}

.form-group.warning .form-input::placeholder {
    color: rgba(255, 0, 0, 0.705) ;
}
