*{
    box-sizing: border-box;
}

[class*="col-"]{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width: 576px){
    .col-sm-5{
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-7{
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-4{
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(min-width: 768px){
    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 768px){
    .col-sm-4{
        display: none;
    }
}

@media(min-width: 992px){
    .col-lg-8{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main-content .post-box{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #eee;
}

.main-content a{
    color: #555555;
}

span{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-size: 15px;
    text-transform: uppercase;
}

.entry-title:hover span{
    color: #3c5e2c;
}

.container img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    transition: 0.15s linear;
}

.teaser {
    overflow: hidden;
    line-height: 0;
    margin-bottom: 10px;
    border: 1px solid #3c5e2c;
}


.teaser:hover img{
    transform: scale(1.1);
}

.entry-title{
    margin-top: 0;
    border: none;
    margin-bottom: 0px;
    padding: 0 0 15px;
}

.post-box-excerpt{
    font-weight: 400;
    font-size: 13px;
}

.newsletter-widget{
    padding: 20px 20px 10px;
    background-color: #eee;
    text-align: center;
    color: #000;
}

.columnRight img{
    width: 30%;
    height: 30%;
}

.heading{
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #666;
    font-weight: 400;
    font-size: 13px;
}

.sidebarNews{
    padding-top: 20px;
}

.logo{
    margin-bottom: 20px;
}

.description{
    margin-bottom: 20px;
    color: #666;
    font-size: 13px;
}

form{
    display: block;
}

.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group > .form-control:not(:last-child){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletter-widget form input.newsletter-email{
    font-size: 13px;
    border: none;
    box-shadow: none;
    margin-bottom: 15px;
    height: 34px;
    border-radius: 0;
}

.input-group > .form-control{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.newsletter-widget form button{
    padding: 0;
    width: 70px;
    background-color: #3c5e2c;
    border: none;
    color: #fff;
    height: 34px;
    width: 70px;
    margin-bottom: 15px;
    line-height: 34px;
    font-size: 13px;
    border-radius: 0;
}

.button:hover{
    color: #000;
}

.load-more-wrapper .btn{
    border: solid 1px #c3c3c3;
    color: #7d7d7d;
    padding: 10px 15px;
}

.btn-block{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}