.content1 {
    box-sizing: border-box;
    /* text-align: justify; */
}

.anh img {
    width: 620px;
    height: 700px;
    margin: 20px 0;
}

/* .comment {
    background-color: #f5f6f7;
    margin-top: 10px;
}

.comment textarea {
    width: 100%;
    padding: 5px 10px;4
    outline: none;
}

.comment_button {
    text-align: right;
}

.comment button {
    border: none;
    width: 50px;
    color: var(--white);
    height: 26px;
    background: var(--coffee);
    margin: 10px;
} */