
* {
    /* font-family: 'Sans Mono', monospace; */
    font-weight: 700;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* nav begin */
nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav_menu {
    width: calc(100%-30);
    display: flex;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 14px 16px;

}

nav a:hover {
    color: #9f6b53;
}

.sub_nav {
    width: 160px;
    position: relative;
    display: block;
    padding: 14px 16px;
    /* z-index: 3 !important; */
    overflow: hidden;
}

.sub_nav a img {
    width: 10px;
}

.sub_nav_header:hover, .sub_nav-content a:hover {
    color: #9f6b53;
    transition: ease-in-out 0.3s;
}

.sub_nav-content {
    width: 100%;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.1);
    font-size: 14px;
    border-radius: 14px;
    float: left;
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 52px;
    box-sizing: border-box;
    padding: 4px;
    transform: translateY(-49px);
    overflow: hidden;
    transition: transform 0.15s linear;
    opacity: 0;
    z-index: 2;
}

.sub_nav-content a {
    display: block;
}

.sub_nav:hover {
    overflow: unset;
}

.sub_nav:hover .sub_nav-content {
    display: block;
    transform: translateY(0);
    /* z-index: -1; */
    opacity: 1;
    /* overflow: unset; */
}

/* nav end */

main {
    width: 100%;
    max-width: 1600px;
    padding: 0 85px;
    display: inline-block;
    margin: 0 auto;
}

main header {
    margin: 30px;
    text-align: center;
}


main header a {
    font-size:  40px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.3s;
}

main header a:hover {
    color:  #9f6b53 ;
}

main .product {
    display: inline-block;
    text-align: justify;
    width: calc(100%/6);
    box-sizing: border-box;
    padding: 0 16px;
    box-sizing: content-box;
}

.product img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.col {
    text-align: left;
}

.col img {
    width: 100%;
    -webkit-transform: scale(0.96);
	transform: scale(0.96);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.col img:hover {
    -webkit-transform: scale(1);
	transform: scale(1);
    width: 100%;
}

.col .name {
    font-size: 16px;
    font-weight: 700;
    transition: ease-in-out 0.3s;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;
}

.col .name:hover {
    color:  #9f6b53;
    cursor: pointer;
}

.col .price {
    font-size: 12px;
    margin-top: 4px;
}

/* main 2*/
article  {
    margin-top: 80px;
    position: relative;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

article .content {
    width: 100%;
    height: auto;
    display: flex;
}

.content_first-side {
    width: 50%;
    position: relative;
}

article .content_img {
   width: 100%;  
   height: 1010px;
}

article .more_infor {
    width: 100%;
    height: 1010px;
    position: absolute;
    font-family: sans-serif;
    top: 0;
    color: white;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 60px;
}

article .more_infor h2 {
    font-size: 54px;
    word-spacing: 2px;
    margin-top: calc(100%/2);
    font-weight: 700;
    margin-bottom: 70px;
}

article .more_infor button {
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    transition: ease-out 0.4s;
    border: wheat;
}

article .more_infor button:hover {
    box-shadow: initial 300px 0 0 0 #9f6b53;
    color: white;
    background-color: #9f6b53;
    cursor: pointer;
}

article .para {
    width: calc(100%/2);
    box-sizing: border-box;
    padding: 106px 160px 240px 90px;
}

article .para p {
    width: 544px;
    text-align: justify;
}

article img {
    width: 716px;
}

.form_sign-up {
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
}

.form_sign-up p {
    padding: 10px 0;
    margin-right: 40px;
}

.form_sign-up .sign_up-noti {
    display: flex;
}

.form_sign-up .sign_up-noti input {
    width: 560px;
    height: 46px;
    border: 1px solid #ccc;
    padding: 6px 10px;
}

.form_sign-up .sign_up-noti .checked {
    width: 110px;
    height: 46px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border: 1px solid #ccc;
    background-color: #9f6b53;
    transition: ease-in-out 0.4s;
}

.form_sign-up .sign_up-noti .checked:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: black;
}


.form_sign-up_help p {
    padding: 10px 0;
    margin-left: 20px;
}

footer .infor {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 48px 90px 0;
}

.footer .infor__header {
    font-size: 20px;
}

footer img {
    width: 14px;
    height: 14px;
}

footer .connection ul {
    padding: 0;}

footer .connection li {
    text-align: justify;
    list-style: none;
}

footer .connection a {
    text-decoration: none;
    color: black;
    line-height: 16px;
    transition: ease-in 0.3s;
}

footer .connection a:hover {
    color: #9f6b53;
}

footer .contact-information p{
    margin: 0;
}

footer .investors{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

footer .investors p {
    line-height: 18px;
}