@media screen and (max-width: 600px){
    .main-content {width: 100%;}
    .headimg {display: none;}
    .col22 {width: 100%; text-align: center; margin-top: 100px;}
    .text1 {display: none;}
    .end {padding: 40px 5px 0px;}
    .col-sm-1 {padding: 120px 0 0;}
    .celldec__info {display: none; visibility: hidden;}
    .sec-text1 {
        display: block;
        
    }
    .item {
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .celldec {
        display: inline-block;
        width: 50%;
    }
    .ctacell {
        float: right;
        margin-top: 20px;
    }
    .congviec{
        width: 50%;
    }
    .footer {
        width: 100%;
    }
}



@media screen and (min-width: 601px){
    .col22 {width: 100%; text-align: center; margin-top: 100px;}
    .main-content {padding: 0px 0 30px 0;}
    .headimg{ display: none;}
    .col3 {margin-top: auto;}
    .end {padding: 40px 5px 60px;}
    .sec-text1 {
        display: flex;
        
    }
    .item {
        width: 33.33%;
        height: fit-content;
    }
    .celldec {
        display: flex;
        width: 50%;
        
    }
    .ctacell {
        display: inline-block;
        margin-top: 20px;
        width: 60%;
    }
    .cellname {
        width: 40%;
    }
    

}


@media screen and (min-width: 768px) {
    .col22 {display: none;}
    .headimg {display: block;}
    .col3 {margin-top: 60px;}
    .end {padding: 40px 5px 60px;}
    .sec-text1 {
        display: flex;
        
    }
    .item {
        width: 33.33%;
        height: fit-content;
    }
    
    .celldec {
       display: flex;
       width: 40%;
    }
    .ctacell {
        display: inline-block;
        margin-top: 20px;
        width: 40%;
    }
    .cellname {
        width: 40%;
    }
    .celldec__info {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .col22 {display: none;}
    .headimg {display: block;}
    .col3 {margin-top: 60px;}
    .end {padding: 40px 5px 60px; margin: 0px 10px;}
    .sec-text1 {
        display: flex;
        
    }
    .item {
        width: 33.33%;
        height: fit-content;
    }
}

/* CSS Main */

/* NAVBAR CSS */
:root {
    --white : #fff;
    --coffee: #ad661f;
    --wheat: wheat;
    --old_brown: rgb(247,234,204);
    --title_color: #555555;
    --text_color: #232323;
    --light-gray: rgb(165, 163, 163);
    --blue: #00a8ff;
    --menu_list_height: 121.5px;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

#container {
    background-color: #f9f9fb;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.menu {
    background-color: var(--coffee);
    max-width: 100%;  
    position: relative;
}

.menu__list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu__list--content {
    padding: 45px 30px;
    display: block;
    position: relative;
}
.menu__list--content:nth-of-type(4) {
    padding: 0 30px;
}
.menu__list--content img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}

.menu__list--link {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    position: relative;
    padding: 3px 0;
    color: var(--wheat);
}

.sub-menu {
    opacity: 0;
    list-style: none;
    position: absolute;
    top: calc(var(--menu_list_height) + 40px);
    left: 0;
    z-index: -1;
    box-shadow: 3px 3px 8px 8px rgba(112, 104, 104, 0.2);
    transition: 0.3s linear;
    border-radius: 10px;
}

.sub-menu__link{
    display: block;
    padding: 10px;
    width: 200px;
    background-color: var(--old_brown);
    border-bottom: 1px solid var(--light-gray);
}

.sub-menu__link:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-menu__link:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu__content {
    display: inline-block;
    color: var(--title_color);
    position: relative;
}

.menu__user-link {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 3px solid var(--white);
    border-radius: 50%;
    background-color: var(--wheat);
    text-align: center;
    line-height: 30px;
    color: var(--coffee);
    transition: border-color 0.15s linear;
}

.appear {
    display: block !important;
}

.menu__user-link .sub-menu {
    opacity: 0;
    left: -67px ;
    top: 40px ;
    transition: 0.25s linear;
    transform: scale(0.1);
    display: none;
}

.menu__user-link .sub-menu__link {
    width: 100px;
    height: 40px;
    padding: 3px 5px;
    font-size: 14px;
}

.menu__user-link .sub-menu__link:first-child {
    position: relative;
}

.menu__user-link .sub-menu__link:first-child::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 40px;
    top: -10px;
    right: 0;
}

/* BODY CSS */
.main-content {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.headimg h2{
    font-family: 'Cookie', cursive;
    color: #eee;
    font-size: 40px;
}

.modau {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
}

.headimg p {
    font-family: Roboto Mono, cursive;
    font-size: 30px;
    color: #eee;
    padding-top: 100px;
}


.headimg {
    width: 100%;
    height: 25rem;
    margin-bottom: 20px;
    margin-right: 0px;
    background-image: url(imgtuyendung/anhcanhmenu.jpg) ;
    background-size: cover;
}

.col2{
      width: 70%;
      color: #eee;
      background-color: #FFB200;
      font-size: 16px;
      border-radius: 10px;
      text-align: center;
      display: inline-block;
      margin-top: 20px;
      padding: 13px 20px;
}

.headimg .text a {
      width: 32.2%;
      color: #eee;
      background-color: #3c5e2c;
      font-size: 16px;
      border-radius: 10px;
      text-align: center;
      display: inline-block;
      margin-top: 20px;
      padding: 13px 20px;
}

.body-title {
    width: 100%;
    /* position: relative; */
    color: #FA7070;
    text-align: center;
    font-family: 'Cookie', cursive;
    margin: 0 0 20px;
}


.item h3 {
    color: #3c5e2c;
    font-family: 'NittiTypewriter', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.7;
    /* position: relative; */
}

.item p{
    color: #829460;
    text-align: justify;
    
}

.body-title:last-of-type {
    margin: 0 0 60px;
}

.infor > p {

    text-align: justify;
    width: 75%;
    height: 104px;
    margin: auto;
    margin-bottom: 60px;
}

.infor {
    margin: 60px 0 60px 0;
}

.infor > hr {
   background-color: #eee;
   height: 0.5px;
   border: 0 none;
   color: #555555;
}

.item {
    /* width: 33.33%; */
    padding: 15px;
}



.sec-text1 {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* height: auto; */
    /* height: fit-content; */
}

.end img {
    width: 100%;
     /* padding: 40px 5px 60px; */
     /* margin: 0px 10px; */
}

.end {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.bot {
    /* width: 1519.2px; */
    width: 100%;
    height: auto;
    margin: 0 auto 30px;
    background-image: url(imgtuyendung/botimg.jpg);
    background-size: cover;
    text-align: justify;
}

.text1 {
    width: 46%;
    height: 314px;
    margin: 0 auto;
    padding: 5px;
    background-color: rgba(255, 241, 208, 0.9);
}

.text1 h3 {
    font-size: 35px;
    text-align: center;
    /* margin-top: 85px; */
    margin-bottom: 15px;
    font-family: 'Cookie', cursive;
    color: rgb(60,94,44);
}

.text1 p {
    font-size: 16px;
    font-family: 'Passions Conflict', cursive;
    padding: 10px 15px 30px 15px;
    text-align: justify;
}

#alljob {
    margin-top: 120px;
    margin-bottom: 60px;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
}


.boxcat {
    width: 960px;
    max-width: 100%;
    height: 150px;
    transition: 0.15s linear;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.itemjob:first-of-type {
    width: 960px;
    max-width: 100%;
}

.listjob:first-of-type .titlejob {
    margin-top: 60px;
}

.listjob .titlejob {
    margin-bottom: 20px;
    font-size: 23px;

}

.boxcat:hover {
    background-color: #eaeaea;
}

.titlejob {
    position: relative;
    padding: 10px 0;
}

.titlejob::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: #eaeaea;
    bottom: 0;
    left: 0;

}

.congviec {
    margin-top: 20px;
    font-size: 19px;
}

.cellname h4 {
    /* width: 40%; */
    float: left;
    color: rgb(60,94,44);
}

.celldec {
    /* width: 40%; */
    float: right; 
    /* display: flex; */
    justify-content: space-between;
}


.ctacell .apply {
    background-color: #3c5e2c;
    text-align: center;
    /* display: inline-block; */
    color: #eee;
    border-radius: 20px;
    margin-top: 20px;
    padding: 13px 20px;
    font-size: 14px;
}


/* FOOTER CSS */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--coffee);
}

.footer__contact {
    padding: 20px 0;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__contact--medias h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer__contact--imgs {
    display: flex;
}
.footer__contact--imgs a:nth-of-type(1) {
    width: 13.24px;
    height: 23px;
    display: block;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(2) {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(3) {
    display: block;
    width: 26px;
    height: 20px;
    margin-top: 2px;
}
.footer__contact--imgs a img {
    width: 100%;
    height: 100%;
}
.footer__contact--medias .footer__contact--moiat {
    width: 190px;
    height: 75px;
    margin-top: 3px;
    display: inline-block;
}

.footer__contact--moiat img{
    width: 100%;
    height: 100%;
}

.footer__contact--update {
    margin-right: 75px;
}

.footer__contact--update h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer__contact--update p {
    font-size: 12px;
}

.footer__contact--update-input-group {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.footer__contact--update input{
    padding: 5.5px 65px 5.5px 15px;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    outline: 0;
}

.footer__contact--update input::placeholder {
    font-size: 14px;
    color: var(--light-gray);
}

.footer__contact--update button {
    width: 100px;
    height: 35px;
    background-color: var(--coffee);
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer__contact--update-slogan {
    color: rgb(165, 163, 163);
    margin-top: 5px;
}

.footer__addr {
    width: 100%;
    background-color: var(--coffee);
}

.footer__addr--text {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer__addr p {
    font-size: 11px;
    color: var(--white);
    line-height: 20px;
}

.footer__addr b {
    text-transform: uppercase;
}


/* ---- Animation write here ---- */

/* CSS Animation Underline Menu*/
.menu__list--link::before { 
    /* tao persuodo class */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.02px;
    background-color: var(--white);
    transition: 0.25s linear;
    display: block;
}

.menu__list--content span:hover .menu__list--link::before {
    width: 100%;
}

.menu__list--content span:hover .menu__list--link {
    color: var(--white);
}

/* Animation User Icon */
.menu__user-link:hover {
    border-color: #00a8ff;
}
.menu__user-link:hover i{
    color: var(--coffee);
}

/* Sub Menu Animation */
/* tao persuodo class */
.sub-menu__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: var(--coffee);
    transition: width 0.25s linear;
}
.sub-menu__link:hover .sub-menu__content {
    color: var(--coffee);
}
.sub-menu__link:hover .sub-menu__content::before {
    width: 100%;
}

.menu__list--content:hover .sub-menu {
    transform: translateY(calc((var(--menu_list_height) - 56.5px) * -1));
    opacity: 1;
    z-index: 2;
}
.menu__user-link:hover .sub-menu,
.menu__user-link .sub-menu__content:first-child::before {
    opacity: 1;
    z-index: 10;
    transform: scale(1);
}

/* MOBILE TABLET */
/* MENU MOBILE, TABLET */
.layout {
    background-color: #555555;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
    opacity: 0;
    transition: 0.25s linear;
}

.menu-mobile__list {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: var(--coffee);
    list-style: none;
}

.menu-mobile__list--logo {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.menu-mobile__list--logo img {
    width: 100%;
    height: 100%;
}

.menu-mobile__list--bars {
    cursor: pointer;
}

.menu-mobile__list--main {
    position: fixed;
    left: 0;
    top: 90px;
    height: 100vh;
    background-color: var(--white);
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.25s ease-out;
    opacity: 0;
}

.menu-mobile__list--content {
    overflow-y: scroll;
    max-height: 500px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.menu-mobile__list--content::-webkit-scrollbar{
    width: 5px;
}

.menu-mobile__list--content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.menu-mobile__list--content::-webkit-scrollbar-thumb {
    background: rgb(230, 226, 226);
    border-radius: 10px;
}

.menu-mobile__item,
.sub-menu-mobile__item {
    padding: 10px;
    width: 300px;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 19px;
    color: var(--coffee);
    cursor:default;
    list-style: none;
}

.menu-mobile__item--link,
.sub-menu-mobile__item--link {
    color: var(--coffee);
    position: relative;
    display: inline-block;
    transition: 0.25s linear;
}

.menu-mobile__item--content,
.sub-menu-mobile__item--content   {
    padding: 3px 0;
}

.menu-mobile__item--content::before,
.sub-menu-mobile__item--content::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--coffee);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.25s ease-out;
}

.menu-mobile__item--link:hover,
.sub-menu-mobile__item--link:hover {
    color: #6e3f0f;
}

.menu-mobile__item--link:hover .menu-mobile__item--content::before,
.sub-menu-mobile__item--link:hover .sub-menu-mobile__item--content::before {
    width: 100% !important;
}

.menu-mobile__list--content .menu-mobile__item i {
    font-size: 14px ;
    margin-left: 10px;
}

.menu-mobile__list--cart {
    position: relative;
}

.products_total {
    position: absolute;
    background-color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: 20px ;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -10px;
    right: -7px;
}

/* SUB MENU */
.sub-menu-mobile {
    margin-left: 20px;
}

.sub-menu-mobile__item {
    padding: 8px 0;
    font-size: 1rem;
    text-transform: capitalize;
}


.menu-mobile__list--bars i{
    font-size: 30px;
    margin-left: 20px;
    display: inline-block;
    width: 46px;
}

.menu-mobile__list--cart {
    margin-right: 20px;
    cursor: pointer;
}

.menu-mobile__list--cart i{
    font-size: 30px;
    color:var(--text_color);
}